/* ==========================================================================
   Social Icons - begin
   ========================================================================== */
.social-icons {
    li {
        display: inline-block;
        
        a {
            &:link,
            &:visited {
                color: $color-grey;
            }
            font-size: 30px;
        }

        &:not(:last-child) {
            margin-right: 8px;
        }
    }
}

/* ==========================================================================
   Social Icons - end
   ========================================================================== */